@import "tailwindcss";

@theme {
  --color-primary: #2b6cee;
  --color-background-light: #f6f6f8;
  --color-background-dark: #101622;
  --font-display: var(--font-sans);
}

@layer utilities {
  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  }
  .fill-icon {
    font-variation-settings: 'FILL' 1;
  }
}
